@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";
@import "print";

@import 'react-toggle';

$gray: rgba(0, 0, 0, 0.125);
$dark-gray: rgba(0, 0, 0, 0.4);
$darker-gray: rgba(0, 0, 0, 0.55);

.center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none!important;
}

h5.lets-kill {
  text-align: center;
}

.amount-label {
  font-weight: bold;
}

.amount {
  font-weight: 300;
}

#amount-mode {
  font-size: 12px;
}

.app-item {
  padding-left: 10px !important;
  height: 50px;

  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: -1px;

  background-color: #fff;

  &.selected {
    cursor: default;

    img.check {
      cursor: pointer;
    }
  }

  img {
    cursor: pointer;
  }

  a.site {
    font-size: 12px;
  }

  &:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

  .per-what {
    font-size: 10px;
    font-style: italic;
  }
}

.money-div {
  color: $dark-gray;
}

.per-what {
  width: 19px;
}

input.money-box {
  border: 1px $gray dotted;
  height: 40px;
  width: 70px;

  color: $darker-gray;
  outline: none;
  background: none;

  &::placeholder {
    color: $gray !important;
  }
}

